h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.065em;
}
