
@media screen and (max-width: 1000px) {
    .career-box {
        flex-direction: column;
    }
    .career-box > div {
        width: 100% !important;
        margin: 1rem 0;
    }
}

.career-box > div {
    width: 32%;
    margin: 1rem 0;
}

.testimonals-content-container {
    flex-direction: column;
}
